root {
--container_color: #ffffff;
}



/* --- TEXT SECTION --- */
.text-section {
    background: var(--container_color);
    padding: 0px 0;
    /* space between banner and text */
}
.text-section>* {
    width: 150%;
    margin-left: -160px;
    /* indent */
}
.text-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}
.text-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/* --- CUSTOM HIGHLIGHT: HEADER --- */
.custom-highlight {
    display: inline;
    background-color: #ece318;
    padding: 0 15px;
}
/* --- RESPONSIVE --- */

@media (max-width: 900px) {
    .text-section > * {
        width: 80vw;
        margin-left: calc(-50vw + 85%);
    }
}

@media (max-width: 750px) {
    .banner-inner {
        flex-direction: column;
        text-align: center;
    }
}

/* --- FLEXBOX LAYOUT --- */
.flex-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 40px; /* space between text and image */
}

.text {
  flex: 1; 
}

.image {
  flex: 1.4;
  display: flex;
  justify-content: flex-end;
}

.image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 5px 5px 10px #353535;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .flex-container {
    display: block;
    text-align: center;
    width: 60vw;
  }

  .image {
    justify-content: center;
  }
}


/* --- QUOTE --- */
.quote {
    display: block;
    width: 150%;
    max-width: none;
    margin: 80px auto 80px -160px;
    text-align: center;
    white-space: normal;

    overflow-wrap: break-word;
    word-break: normal;


    font-weight: 100;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.quote .author {
    font-style: italic;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .quote {
    text-align: center;
    width: 80vw;
    margin-left: calc(-50vw + 85%);
  }
}